{%  extends 'main.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Calling Operations</title>
    <script>
        document.addEventListener('click', function(event) {
            id = event.target.getAttribute('class') + '_col4'
            console.log(id)
            if(document.getElementById(id).innerHTML.trim().slice(-1) === '✔'){
                document.getElementById(id).innerHTML = '';
            }else{
                document.getElementById(id).innerHTML = '&#10004';
            }
        }, false);
    </script>
</head>
<body>
<div style="margin-left: 25pt;">
    <h4>
        <strong>Call Operations</strong>
    </h4>
</div>
{% for campaign, info in data.items %}

<div style="margin-left: 20pt;">
    <h5>Campaign Name: {{campaign}}</h5>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Number</th>
            <th scope="col">Checked</th>
        </tr>
        </thead>
        {% for p in info %}
        {% if p.4 == 1%}
        <tbody>
            <th scope="row" class = "{{campaign}}_{{p.0}}">{{ p.0 }}</th>
                <td class = "{{campaign}}_{{p.0}}">{{ p.1 }}</td>
                <td class = "{{campaign}}_{{p.0}}">{{ p.2 }}</td>
                <td class = "{{campaign}}_{{p.0}}">{{ p.3 }}</td>
                <td class = "{{campaign}}_{{p.0}}" id = "{{campaign}}_{{p.0}}_col4"></td>
        </tbody>
        {% endif %}
        {% endfor %}
    </table>
</div>

{% endfor %}


</body>
</html>

{% endblock %}