{%  extends 'main.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Campaign Customization</title>
        <link rel="stylesheet" href="{% static '/css/campaign_customization_page.css' %} "/>
    </head>

    <body>
        <div class="products-area" style="margin-left: 25pt;">
            <h4 style="margin-bottom: 13pt;">
                <strong>Products</strong>
                <button type="button" class="btn btn-outline-success btn-sm" style="margin-left: 0.7em;"><strong>Add Product</strong></button>
            </h4>
            <div class="card-line">
                {% for combo in combos %}
                    <div class="card text-dark bg-light mb-3">
                        <div class="card-header bg-light">
                            <div class="group">
                                <a class="groupbutton" href="#"></a>
                            </div>
                            <div class="close">
                                <a class="closebutton" href="#"></a>
                            </div>
                            <br/>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ combo.title }}</h5>
                            <p class="card-text">{{ combo.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- <br/> -->

        <div class="offers-area" style="margin-left: 25pt;">
            <h4 style="margin-bottom: 13pt;">
                <strong>Offers</strong>
                <button type="button" class="btn btn-outline-success btn-sm" style="margin-left: 0.7em;"><strong>Add Offer</strong></button>
            </h4>
            <div class="card-line">
                {% for combo in combos %}
                    <div class="card text-dark bg-light mb-3" style="width: 15rem; height: 15rem; display: inline-block; margin: 0rem;">
                        <div class="card-header bg-light">
                            <div class="group">
                                <a class="groupbutton" href="#"></a>
                            </div>
                            <div class="close">
                                <a class="closebutton" href="#"></a>
                            </div>
                            <br/>
                        </div>
                        <div class="card-body">
                        <h5 class="card-title">{{ combo.title }}</h5>
                        <p class="card-text">{{ combo.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- <br/> -->

        <div class="contents-area" style="margin-left: 25pt;">
            <h4 style="margin-bottom: 13pt;">
                <strong>Contents & Placements</strong>
                <button type="button" class="btn btn-outline-success btn-sm" style="margin-left: 0.7em;"><strong>Add Content & Placement</strong></button>
            </h4>
            <!-- <br/> -->
            <div class="card-line">
            {% for combo in combos %}
                <div class="card text-dark bg-light mb-3" style="width: 15rem; height: 15rem; display: inline-block; margin: 0rem;">
                    <div class="card-header bg-light">
                        <div class="group">
                            <a class="groupbutton" href="#"></a>
                        </div>
                        <div class="close">
                            <a class="closebutton" href="#"></a>
                        </div>
                        <br/>
                    </div>
                    <div class="card-body">
                    <h5 class="card-title">{{ combo.title }}</h5>
                    <p class="card-text">{{ combo.description }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <!-- <br/> -->
        
        
    </body>
</html>

{% endblock %}