{%  extends 'main.html' %}

{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Change Password</title>
        <style>
            body {
                position: relative;
            }
            #form-wrapper {     
                width: 450px;
                height: 200px;
                position: absolute;
                top: 800%;
                left: 45%;
                margin-top: -100px;
                margin-left: -150px;
            }
        </style>
    </head>
    <body>
        <div id="form-wrapper">
            <h4>{% trans 'Change password' %}</h4>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-success">{% trans 'Change' %}</button>
            </form>
        </div>
    </body>
</html>

{% endblock %}