{%  extends 'main.html' %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% block content %}

<html>
<head>
    <meta charset="utf-8">
    <title>Model Control</title>
    <style>
        .data-tab {
            width: 400px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
<div style="margin-left: 25pt;">
    <h4>
        <strong>Models Configurations</strong>
    </h4>
</div>
<form method="post">
    {% csrf_token %}
        <div style="margin-top: 10px; margin-left: 25pt; margin-bottom: 40pt;" class="periodical-train">
            <h5>Automatic Model Training</h5>
            <strong>After you end training, the training process will terminate in less than 1 training cycle time
                but not immediately, you can just leave this page safely.</strong>
            <p>{{ message|safe }}</p>
            <div name="period-train">
                <button type="submit" class="btn btn-primary" style="margin-top: 5px; margin-right: 5px" name="start">
                    Start training
                </button>
                <button type="submit" class="btn btn-primary" style="margin-top: 5px; margin-left: 5px"  name="end">
                    End training
                </button>
            </div>
        </div>
        <div style="margin-left: 25pt;" class="form-group">
            <h5>Model Adjustment</h5>
            <p>Please stop training before submitting your new configurations.</p>
            <div class="data-tab">
                <label>Number of Rows Fetched</label>
                <input type="number" class="form-control" name="numFetchRows" placeholder="Suggested Rows 50 ~ 500...">
            </div>

            <div class="data-tab">
                <label>Update Period</label>
                <input type="number" class="form-control" name="period" placeholder="Period...">
            </div>

            <div class="data-tab">
                <label>Learning Rate</label>
                <input type="number" class="form-control" name="eta" placeholder="Suggested Rate 0.005 ~ 0.5...">
            </div>
            <div class="data-tab">
                <label>Max Decision Tree Depth</label>
                <input type="number" class="form-control" name="max_depth" placeholder="Suggested Depth 5 ~ 500...">
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 10px;" name="configure">Submit</button>
        </div>
    </form>

</body>
</html>

{% endblock %}