{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<!-- <script  type="text/javascript">
		function changeActive(e) {
			event.preventDefault();

			var element = document.getElementsByClassName("active")[0];
			var target = e.target || e.srcElement;
			element.classList.remove("active");
			target.classList.add("active");
      // window.location.href = "/analytics_dashboard_page";
		}
	</script> -->

	<div class="container-fluid">
		<img class="navbar-brand" src="{% static '/images/app_logo.png' %}">
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				{% if current == 'data_entry_page' %}
					<a class="nav-link active" href="/data_entry_page" onclick="changeActive(event)">Data Entry</a>
				{% else %}
					<a class="nav-link" href="/data_entry_page" onclick="changeActive(event)">Data Entry</a>
				{% endif %}

				{% if current == 'analytics_dashboard_page' %}
					<a class="nav-link active" href="/analytics_dashboard_page" onclick="changeActive(event)">Analytics Dashboard</a>
				{% else %}
					<a class="nav-link" href="/analytics_dashboard_page" onclick="changeActive(event)">Analytics Dashboard</a>
				{% endif %}

				{% if current == 'calling_operations_page' %}
					<a class="nav-link active" href="/calling_operations_page" onclick="changeActive(event)">Calling Operations</a>
				{% else %}
					<a class="nav-link" href="/calling_operations_page" onclick="changeActive(event)">Calling Operations</a>
				{% endif %}

				{% if current == 'model_controlls_page' %}
					<a class="nav-link active" href="/model_controlls_page" onclick="changeActive(event)">Model Controlls</a>
				{% else %}
					<a class="nav-link" href="/model_controlls_page" onclick="changeActive(event)">Model Controlls</a>
				{% endif %}

				{% if current == 'campaign_customization_page' %}
					<a class="nav-link active" href="/campaign_customization_page" onclick="changeActive(event)">Campaign Customization</a>
				{% else %}
					<a class="nav-link" href="/campaign_customization_page" onclick="changeActive(event)">Campaign Customization</a>
				{% endif %}

				{% if request.user.is_authenticated %}
					{% if current == 'change_password' %}
						<a class="nav-link active" href="/change/password" onclick="changeActive(event)">Change password</a>
					{% else %}
						<a class="nav-link" href="/change/password" onclick="changeActive(event)">Change password</a>
					{% endif %}

					{% if current == 'logout' %}
						<a class="nav-link active" href="/logout" onclick="changeActive(event)">Log out</a>
					{% else %}
						<a class="nav-link" href="/logout" onclick="changeActive(event)">Log out</a>
					{% endif %}

				{% else %}
					{% if current == 'login' %}
						<a class="nav-link active" href="/login" onclick="changeActive(event)">Log in</a>
					{% else %}
						<a class="nav-link" href="/login" onclick="changeActive(event)">Log in</a>
					{% endif %}

					{% if current == 'signup' %}
						<a class="nav-link active" href="/signup" onclick="changeActive(event)">Create an account</a>
					{% else %}
						<a class="nav-link" href="/signup" onclick="changeActive(event)">Create an account</a>
					{% endif %}

				{% endif %}

			</div>
		</div>
	</div>
</nav>