{%  extends 'main.html' %}

{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Password retrieval completed</title>
        <style>
          body {
              position: relative;
          }
          #form-wrapper {     
              width: 300px;
              height: 200px;
              position: absolute;
              top: 800%;
              left: 50%;
              margin-top: -100px;
              margin-left: -150px;
          }
      </style>
    </head>
    <body>
        <div id="form-wrapper">
          <h4>{% trans 'Retrieve password' %}</h4>
          <div>
              {% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered." %}
              {% trans 'You should receive them shortly.' %}
              <br>
              {% trans "If you don't receive an email, please make sure you've entered the address you signed up with, and check your spam folder." %}
          </div>
        </div>
    </body>
</html>

{% endblock %}