.wrapper {
  /* position: abosulte; */
  display: inline-block;
  width: 700px;
  height: 450px;
  margin: 40px;
  border-radius: 25px;
  transition: box-shadow .3s;
  overflow: hidden;
}

.wrapper-create {
  /* position: abosulte; */
  display: inline-block;
  width: 700px;
  height: 450px;
  margin: 40px;
  margin-left: 6px;
  border-radius: 25px;
  transition: box-shadow .3s;
  border: 1px solid #BFBFBF;
  overflow: hidden;
}

.linechart {
  position: absolute;
}

.wrapper:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.btn-config {
  position: absolute;
  z-index: 1;
  margin-left: 520px;
  margin-top: 40px;
}

.btn-delete {
  position: absolute;
  z-index: 1;
  margin-left: 610px;
  margin-top: 40px;
}

.btn-add {
  position: absolute;
  z-index: 1;
  margin-left: 310px;
  margin-top: 200px;
}

.js-plotly-plot .plotly .modebar {
  margin-top: 382px;
  transform: translateX(-135%);
}

.js-plotly-plot .plotly .modebar .modebar-group:nth-of-type(4) {
  transform: translateX(370%);
}