.thick {
  font-weight: bold;
}

.card {
    width: 15rem;
    height: 15rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 5pt;
    display:inline-block;
    vertical-align:top;
}

.card-header {
    height: 3rem;
}

.exit {
    background: #ff5c5c;
    font-size: 9pt;
    width: 19px;
    height: 19px;
    border: 1px solid #e33e41;
    border-radius: 50%;
    display: inline-block;
    float: right;
    cursor: pointer;
}

.exit:hover {
    background: #fc9e9e;
    border: 2px solid #e4a6a7;
    box-shadow: 5px 5px 8px #D8D8D8;
    transition: background 0.5s ease-in-out;
}

.group {
    background: #f8dc3e;
    font-size: 9pt;
    width: 20px;
    height: 20px;
    border: 1px solid #f0cf17;
    border-radius: 50%;
    display: inline-block;
    float: left;
    cursor: pointer;
}

.group:hover {
    background: #fff5bb;
    border: 2px solid #f7e99b;
    box-shadow: 5px 5px 8px #D8D8D8;
    transition: background 0.5s ease-in-out;
}

.card-body {
    overflow: "scroll";
}

.card-line {
    height: 18rem;;
    width: 65rem;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
}

.products-area {
    margin-bottom: 15pt;
}

.offers-area {
    margin-bottom: 15pt;
}

.contents-area {
    margin-bottom: 15pt;
}
